#!/usr/bin/env zsh


# System
alias ez='exec zsh'
alias c='clear'
alias path='echo $PATH | tr -s ":" "\n"'

# Mac
alias brewup='brew update && brew upgrade && brew cleanup'


# Navigation
alias ..='cd ..'
alias ...='cd ../..'
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias -- -='cd -'
alias H='cd ~'

# eza package
alias ls='eza --icons --group-directories-first'
alias ll='eza -l --icons --no-user --group-directories-first  --time-style long-iso'
alias la='eza -la --icons --no-user --group-directories-first  --time-style long-iso'


# Code
alias code='vscodium-insiders'
alias c.='code .'
alias fmt='clang-format -i *.cpp *.hpp *.h'
alias tidy='clang-tidy -i *.cpp *.hpp *.h'


# Grep
alias grep='grep --color=auto'
alias fgrep='fgrep --color=auto'
alias egrep='egrep --color=auto'


# Enable aliases to be sudo’ed
alias sudo='sudo '

# Lock the screen (when going AFK)
alias afk="/System/Library/CoreServices/Menu\ Extras/User.menu/Contents/Resources/CGSession -suspend"