#!/usr/bin/env zsh

# Make vim the default editor.
export EDITOR='nvim'
export VISUAL='nvim'

# Prefer US English and use UTF-8.
export LANG='en_US.UTF-8'
export LC_ALL='en_US.UTF-8'

if [ -t 0 ]; then
	export GPG_TTY=$(tty)
fi

if [[ "$OSTYPE" == "darwin"* ]]; then
	# Avoid issues with `gpg` as installed via Homebrew.
	# https://stackoverflow.com/a/42265848/96656
	# export GPG_TTY=$(tty)
	# Hide the “default interactive shell is now zsh” warning on macOS.
	export BASH_SILENCE_DEPRECATION_WARNING=1
fi

# llama and claude stuff
export ANTHROPIC_BASE_URL="http://192.168.0.246:8080"
export ANTHROPIC_MODEL="kvstorm1"
export CLAUDE_CODE_DISABLE_NONESSENTIAL_TRAFFIC=0
export DISABLE_TELEMETRY=0
