#!/usr/bin/env zsh

# System
alias ez='exec zsh'
alias c='clear'
alias path='echo $PATH | tr -s ":" "\n"'
# Display formatted history (yyy-mm-dd HH:MM)
alias history='history -i'

if command -v bat >/dev/null 2>&1; then

elif command -v batcat >/dev/null 2>&1; then
	alias bat='batcat'
else
	alias bat='cat'
fi

# Navigation
alias ..='cd ..'
alias ...='cd ../..'
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias -- -='cd -'
alias H='cd ~'

# eza package
alias ls='eza --icons --group-directories-first'
alias ll='eza -l --icons --no-user --group-directories-first  --time-style long-iso'
alias la='eza -la --icons --no-user --group-directories-first  --time-style long-iso'
alias ld='eza -ld --icons --no-user --time-style long-iso'

# Code
alias code='codium-insiders'
alias c.='code .'
alias fmt='clang-format -i *.cpp *.hpp *.h'
alias tidy='clang-tidy -i *.cpp *.hpp *.h'

# Grep
alias grep='grep --color=auto'
alias fgrep='fgrep --color=auto'
alias egrep='egrep --color=auto'

# shellcheck
alias shellcheck='shellcheck --color=always -a -x'

# Enable aliases to be sudo’ed
alias sudo='sudo '

# Platform Specific

case "$(uname -s)" in
Darwin*)
	if ! command -v brew >/dev/null 2>&1; then
		print -P "%F{yellow}[WARNING]%f 'brew' is not installed."
	else
		alias brewup='brew update && brew upgrade && brew cleanup'
	fi

	# Lock the screen (when going AFK)
	alias afk="/System/Library/CoreServices/Menu\ Extras/User.menu/Contents/Resources/CGSession -suspend"

	# copy to clipboard
	alias wl-copy='pbcopy'
	;;

Linux*)
	alias pbcopy='wl-copy'
	;;

CYGWIN* | MINGW* | MSYS*)
	# Windows / Git Bash
	;;

*) ;;
esac
