Checks: >
  -*,
  bugprone-*,
  clang-analyzer-*,
  cppcoreguidelines-*,
    -cppcoreguidelines-non-private-member-variables-in-classes,
    -cppcoreguidelines-avoid-const-or-ref-data-members,
    -cppcoreguidelines-avoid-do-while,
    -cppcoreguidelines-macro-usage,
  modernize-*,
    -modernize-use-trailing-return-type,
    -modernize-use-designated-initializers,
  misc-*,
    -misc-non-private-member-variables-in-classes,
    -misc-use-anonymous-namespace,
    -misc-use-internal-linkage,
  performance-*,
  portability-*,
    -portability-avoid-pragma-once,
  readability-*,
    -readability-identifier-length,
    -readability-convert-member-functions-to-static,
    -readability-enum-initial-value,
    -readability-redundant-typename,
    -readability-function-cognitive-complexity,
    -readability-use-anyofallof,
  cert-*,
  concurrency-*,
  hicpp-*,
  llvm-*,
    -llvm-header-guard,
  google-*,
    -google-objc-function-naming,
    -google-readability-todo,
    -google-build-using-namespace,

WarningsAsErrors: >
  bugprone-*,
    -bugprone-exception-escape,
    -bugprone-easily-swappable-parameters,
  clang-analyzer-*,
  cppcoreguidelines-*,
    -cppcoreguidelines-avoid-magic-numbers,
    -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  modernize-*,
    -modernize-use-designated-initializers,
    -modernize-concat-nested-namespaces,
  misc-*,
  performance-*,
  portability-*,
  readability-*,
    -readability-redundant-member-init,
    -readability-identifier-naming,
    -readability-magic-numbers,
    -readability-named-parameter,
  cert-*,
  concurrency-*,
  hicpp-*,
  llvm-*,
    -llvm-include-order,
  google-*,

HeaderFilterRegex: "*"
FormatStyle: file
CheckOptions:
  - key: readability-identifier-naming.ClassCase
    value: CamelCase
  - key: readability-identifier-naming.PrivateMemberCase
    value: lower_case
